<%= form_for(@company, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
  <%= render :partial => "share/validation_message", locals: {model: @company} %>
  
    <div class="form-group">
      <%= f.label '会社名', for: 'inputName', class: 'col-sm-2 control-label' %>
      <div class="col-xs-4">
        <%= f.text_field :name, class: 'form-control', id: 'inputName', placeholder: '会社名' %>
      </div>
    </div>

    <div class="form-group form-inline">
      <%= f.label '郵便番号', for: 'inputZip', class: 'col-sm-2 control-label' %>
      <%= f.text_field :zip_code1, class: 'form-control', id: 'inputZip' %>
      ー
      <%= f.text_field :zip_code2, class: 'form-control', id: 'inputZip' %>
      <button type="submit" class="btn btn-default">住所入力</button>
    </div>

    <div class="form-group">
      <%= f.label '住所1', for: 'inputAddress1', class: 'col-sm-2 control-label' %>
      <div class="col-xs-4">
        <%= f.text_field :address1, class: 'form-control', id: 'inputAddress1', placeholder: '市区町村' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '住所2', for: 'inputAddress2', class: 'col-sm-2 control-label' %>
      <div class="col-xs-4">
        <%= f.text_field :address2, class: 'form-control', id: 'inputAddress2', placeholder: '市区町村' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label '電話番号', for: 'inputTel', class: 'col-sm-2 control-label' %>
      <div class="col-xs-4">
        <%= f.text_field :tel, class: 'form-control', id: 'inputTel' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">決定</button>
      </div>
    </div>
  
<% end %>


