<h1>会社一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>会社名</th>
      <th>住所</th>
      <th>電話番号</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td>〒<%= company.zip_code1 %>-<%= company.zip_code2 %> <%= company.prefecture_code %> <%= company.address1 %><%= company.address2 %></td>
        <td><%= company.tel %></td>
        <td>
          <%= link_to '<span class="glyphicon glyphicon-search"></span>'.html_safe, company %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_company_path(company) %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, company, method: :delete, data: { confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '会社登録', new_company_path %>
